MediTech/.vs/
MediTech/MediTech/bin/
MediTech/MediTech/obj/
MediTech/MediTech/PacsViewer/
WebApi/.vs/
WebApi/MediTechWebApi/bin/
WebApi/MediTechWebApi/obj/
WebApi/PACSWebApi/obj/
WebApi/PACSWebApi/bin/
MediTechData/.vs/
MediTechData/MediTech.Model/bin/
MediTechData/MediTech.Model/obj/
MediTechData/MediTech.DataService/obj/
MediTechData/MediTech.DataService/bin/
MediTechData/MediTech.DataBase/obj/
MediTechData/MediTech.DataBase/bin/
MediTechData/ShareLibrary/obj/
MediTechData/PACS.DataBase/obj/
MediTechData/PACS.DataBase/bin/
MediTechData/ShareLibrary/bin/
MediTech/packages/
MediTech/MediTech/Reports/Statistic/Inventory/StockDispensed.resx.bak
WebApi/MediTechWebApi/Web.config
WebApi/MediTechWebApi/MediTechWebApi.csproj
WebApi/MediTechWebApi/MediTechWebApi.csproj.user
WebApi/PACSWebApi/PACSWebApi.csproj.user
