<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MediTech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="ApplicationVersion" value="1.5.0"/>
    <add key="ApplicationId" value="BRXG"/>
	  
	<add key="BaseAddress" value="http://localhost:64514/" />
    <!--<add key="BaseAddress" value="http://192.168.2.4/MediTechWebService/" />-->
    <add key="PACSAddress" value="http://192.168.2.3/PACSWebService/" />
    
    <!--<add key="BaseAddress" value="http://192.168.2.4/MediTechWebServiceRDU/"/>
    <add key="PACSAddress" value="http://192.168.2.2/PACSWebService/"/>-->

    <!--<add key="BaseAddress" value="http://localhost:64514/" />
    <add key="PACSAddress" value="http://localhost:63063/" />-->
    
     <!--<add key="BaseAddress" value="http://192.168.2.4/MediTechWebServiceTestPatch/" />

    <add key="BaseAddress" value="http://192.168.2.4/MediTechWebServiceTERC/" />-->

    <add key="PACSViwer" value="C:\MediTech\PacsViewer"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--<add key="WebPACSViewer" value="http://localhost/viewer/view.html#" />-->
    <add key="WebPACSViewer" value="http://192.168.2.3/viewer/view.html#"/>
    <!--<add key="WebPACSViewer" value="http://192.168.2.2/viewer/#/viewer?" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Dicom.Core" publicKeyToken="3a13f649e28eb09a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
